.home {
  position: relative;
  display: flex;
  justify-content: center;
}

.home .diagonal {
  position: absolute;
  top: -140px;
  left: 0;
  height: 70vh;
  width: 100vw;
  background-color: var(--main-color);
  transform: skewY(-9deg);
  z-index: -1;
}

.home .container {
  z-index: 1;
  width: 93vw;
  height: 81vh;
  margin-top: 20px;
  position: relative;
}

.home .container img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.home .container .changeImage {
  position: absolute;
  bottom: 30px;
  right: 86px;
  width: 100px;
  display: flex;
  justify-content: space-around;
  gap: 8px;
}

.home .container .changeImage svg {
  border-radius: 50%;
  font-size: 39px;
  border: 1px solid #373737;
  transition: all ease 0.3s;
  cursor: pointer;
}

.home .container .changeImage svg:hover {
  font-size: 35px;
  border-color: #fff;
}

.home .container .portfolio {
  display: none;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 35%;
  margin-left: 7rem;
  z-index: 1;
}

.home .container .portfolio span {
  font-size: 19px;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.home .container .portfolio h1 {
  color: var(--secondary-color);
  margin-bottom: 3rem;
}

.home .container .portfolio p {
  margin-bottom: 2rem;
  font-size: 19px;
  font-weight: 500;
}

.home .container .portfolio .links {
  display: flex;
  gap: 30px;
  width: 26rem;
}

.home .container .portfolio .links a {
  padding: 9px 31px;
  color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  border-radius: 29px;
  font-size: 20px;
  font-weight: bold;
  transition: all ease 0.3s;
}

.home .container .portfolio .links a:hover {
  background-color: var(--secondary-color);
  color: var(--main-color);
}

.home .container .person {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 35%;
  margin-left: 7rem;
  z-index: 1;
}

.home .container .person span {
  font-size: 19px;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.home .container .person h1 {
  color: var(--secondary-color);
  margin-bottom: 3rem;
}

.home .container .person p {
  margin-bottom: 2rem;
  font-size: 19px;
  font-weight: 500;
}

.home .container .person .links {
  display: flex;
  gap: 30px;
  width: 26rem;
}

.home .container .person .links a {
  padding: 9px 31px;
  color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  border-radius: 29px;
  font-size: 20px;
  font-weight: bold;
  transition: all ease 0.3s;
}

.home .container .person .links a:hover {
  background-color: var(--secondary-color);
  color: var(--main-color);
}
