.contact {
  position: relative;
  display: flex;
  height: 100%;
  flex-direction: column;
  padding: 5% 0;
}

.contact .diagonal {
  position: absolute;
  top: -140px;
  left: 0;
  height: 85vh;
  width: 100%;
  background-color: var(--main-color);
  transform: skewY(-9deg);
  z-index: -1;
}

.contact .container-contact {
  display: flex;
  justify-content: space-around;
}

.contact .container-contact .contact-info {
  width: 40vw;
}

.contact .container-contact .contact-info h2 {
  margin-bottom: 1rem;
  color: var(--secondary-color);
}

.contact .container-contact .contact-info p {
  margin-bottom: 2.5rem;
}

.contact .container-contact .contact-info ul li {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  gap: 1rem;
}

.contact .container-contact .contact-info ul li svg {
  font-size: 50px;
  padding: 10px;
  color: var(--secondary-color);
  background-color: #9999995e;
}

.contact .container-contact .contact-info ul li .info {
  display: flex;
  flex-direction: column;
  color: var(--secondary-color);
  font-size: 18px;
}

.contact .container-contact .contact-info ul li .info span {
  color: var(--text);
  font-size: 16px;
  margin-top: 5px;
}

.contact .container-contact .contact-form {
  position: relative;
  width: 30vw;
  height: 510px;
  z-index: 2;
}

.contact .container-contact .contact-form::after {
  content: "";
  width: 66%;
  height: 60%;
  position: absolute;
  top: -7%;
  bottom: 60%;
  left: -13%;
  background-image: url("../../../public/images/contact/dots.png");
  background-repeat: repeat;
  z-index: -1;
}

.contact .container-contact .contact-form::before {
  content: "";
  position: absolute;
  top: 69px;
  right: -35px;
  left: 60px;
  bottom: 0;
  height: 94%;
  background-color: #2b2b2b;
}

.contact .container-contact .contact-form form {
  position: relative;
  z-index: 2;
  background-color: #101010;
  height: 100%;
  width: 100%;
  padding: 20px;
}

.contact .container-contact .contact-form form h3 {
  color: var(--secondary-color);
  margin-bottom: 2rem;
  font-size: 23px;
}

.contact .container-contact .contact-form form input[type="text"] {
  height: 42px;
  width: 100%;
  padding: 5px 10px;
  font-size: 17px;
  margin-bottom: 1rem;
  border-radius: 3px;
  outline: none;
  background-color: transparent;
  border-bottom: 2px solid #82828291;
  color: var(--text);
  transition: all ease 0.4s;
}

.contact .container-contact .contact-form form input[type="email"] {
  height: 42px;
  width: 45%;
  display: inline-block;
  padding: 5px;
  margin-right: 16px;
  padding: 5px 9px;
  font-size: 17px;
  margin-bottom: 1rem;
  border-radius: 3px;
  outline: none;
  background-color: transparent;
  border-bottom: 2px solid #82828291;
  color: var(--text);
  transition: all ease 0.4s;
}

.contact .container-contact .contact-form form #number {
  height: 42px;
  width: 46%;
  display: inline-block;
  padding: 5px 10px;
  font-size: 17px;
  margin-bottom: 1rem;
  border-radius: 3px;
  outline: none;
  background-color: transparent;
  border-bottom: 2px solid #82828291;
  color: var(--text);
  transition: all ease 0.4s;
}

.contact .container-contact .contact-form form textarea {
  border-radius: 3px;
  width: 100%;
  height: 129px;
  border-bottom: 2px solid #82828291;
  background-color: transparent;
  color: var(--text);
  outline: none;
  resize: none;
  padding: 5px 10px;
  font-size: 17px;
  transition: all ease 0.4s;
}

.contact
  .container-contact
  .contact-form
  form
  textarea::-webkit-scrollbar-thumb {
  background-color: var(--text);
  border-radius: 5px;
}

.contact .container-contact .contact-form form textarea::-webkit-scrollbar {
  width: 13px;
}

.contact
  .container-contact
  .contact-form
  form
  textarea::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: black;
}

.contact .container-contact .contact-form form button {
  position: absolute;
  left: 20px;
  bottom: 30px;
  height: 40px;
  width: 11rem;
  border-radius: 5px;
  box-shadow: 3px 3px 4px #0000002b;
  font-size: 16px;
  font-weight: 600;
  background-color: var(--main-color);
  color: var(--text);
  cursor: pointer;
  transition: all ease 0.4s;
}

.contact .container-contact .contact-form form button:hover {
  background-color: #202020;
  color: var(--secondary-color);
}

.contact .container-contact .contact-form form input:focus,
.contact .container-contact .contact-form form #number:focus,
.contact .container-contact .contact-form form textarea:focus {
  border-bottom-color: var(--secondary-color);
}
